extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Главная"

block content
    section.pageBanner
        .inner
            picture.pageBanner__bg
                //source(srcset="../img/projects/banner-2.webp" type="image/webp")
                img(src="../img/projects/banner-2.jpg", alt="Баннер")
            .pageBanner__content
                h1.pageBanner__title 7 из 14 моек самообслуживания в Пскове работают на оборудовании “Нерта”
                .pageBanner__desc В 2020 году в Пскове была запущена в эксплуатацию шестипостовая мойка, укомплектованная оборудованием “Nerta-SW”. 
            .breadcrumbs
                a(href='https://nerta-sw.ru') Главная
                a(href='/projects.html') Проекты
                span 7 из 14 моек самообслуживания в Пскове работают на оборудовании “Нерта”
    section.article-detail
        .inner
            .article-detail__contents
                h3 Содержание
                .article-detail__contentsLeft
                    ol
                        li: a(href="#") Бизнес на  мойках самообслуживания
                        li: a(href="#") Автомойка самообслуживания, как открыть бизнес?
                        li: a(href="#") Подбираем и оформляем земельный участок
                        li: a(href="#") Подготовка к застройке
                        li: a(href="#") Строительство моечного комплекса
                        li: a(href="#") Выбор, покупка и монтаж моечного оборудования
                .article-detail__contentsRight
                    ol
                        li: a(href="#") Открытие мойки, маркетинг и реклама
                        li: a(href="#") Чем хороша мойка по франшизе
                        li: a(href="#") Самомойка авто в лизинг
                        li: a(href="#") Мойка самообслуживания «под ключ» 
                        li: a(href="#") Ежемесячные текущие расходы на содержание
                        li: a(href="#") Сколько нужно денег чтобы открыть автомойку?
            .article-detail__text
                h2 Бизнес на  мойках самообслуживания
                p. 
                    Автомойка самообслуживания – перспективный бизнес, набирающий обороты. Пока он занимает 30% емкости рынка. Остальные 70 % это  все еще привычные ручные мойки. Но за последние пару лет количество смомоек увеличилось в 1,5 раза и это устойчивая тенденция. Такие мойки все чаще предпочитают автомобилисты. Тому есть несколько причин. Помыть машину на автомойке можно за 15 минут при отсутствии очереди. Это первая причина – экономия времени. Вторая – стоимость услуги в разы ниже, чем в автомойке ручного типа. Процесс почти полностью автоматизирован, вплоть до дистанционного управления. Нужно минимум персонала, всего 3-4 человека при круглосуточном режиме работы. Окупается проект всего за 2-3 года.
                p.
                    Плюс у бизнеса хороший потенциал по прибыльности. Кроме частных клиентов, самомойка может обслуживать и корпоративных: транспортные компании, автопарки, таксопарки. Владелец заключает договор, водителям выдают карточки клиента, а оплата регулярно поступает на карту или банковский счет.
                    Поэтому, если Вы хотите выгодно инвестировать свой капитал, автомойка самообслуживания станет отличным решением.
            .article-detail__text
                .article-detail__textLeft
                    h2 Автомойка самообслуживания, как открыть бизнес?
                    p.
                        Сколько стоит открыть автомойку с нуля, что для этого нужно, на чем можно и на чем не нужно экономить и будем разбираться поэтапно. За основу возьмем 4-х постовую мойку МСО.
                    p.
                        У будущего собственника есть 4 возможности на выбор:
                    ul
                        li построить автомойку самому,
                        li заказать «под ключ», 
                        li взять в лизинг,
                        li купить франшизу.
                .article-detail__textRight
                .article-detail__textBottom
                    p.
                        Постараемся рассказать обо всех кратко, но содержательно. Сказать точно, сколько стоит построить автомойку самообслуживания в каждом из случаев невозможно. Каждый кейс уникален, а в уравнении много переменных. Поэтому приведенные ниже цифры условны. Это «средняя температура по больнице».
                        Маленькое отступление по вопросу, на сколько постов строить мойку самообслуживания. Это важный фактор, влияющий и на стоимость строительства и на будущий доход. С этого пункта и стоит начинать разработку бизнес плана самомойки.
                    p.
                        Два поста обойдутся дороже всего. Здесь доля невозвратных трат будет самой большой, а себестоимость одного поста самой высокой. С увеличением количества постов себестоимость одного падает. Но здесь вступает в силу самый ограничивающий фактор – имеющийся в распоряжении предпринимателя бюджет. Поэтому самый популярный вариант это 4-6 постов. Мы остановимся на варианте 4 поста и расчеты будем приводить именно для него.
                        Выбор придется делать не раз: какое оборудование покупать, сколько денег вложить в маркетинг, озеленение и т.д. Но начинать нужно с земельного участка.
            .article-detail__text
                h2 Подбираем и оформляем земельный участок
                p.
                    Затраты на земельный участок  — первая переменная величина. Она очень индивидуальна. Отлично если участок уже есть, но так бывает редко. Еще реже участок под мойку покупается. Чаще всего участок берут в долгосрочную аренду, на 10-15 лет. Такой срок дает гарантию стабильных отношений с арендодателем.
                p.
                    Для одного поста нужно в среднем 32 м2 земли, это участок 7х4,5м. Оптимальный размер участка для мойки на 4 поста вместе с прилегающей территорией и подъездными путями – 6 соток. Отметим, что одним из вариантов открытия бизнеса автомойка является переоборудование классической ручной мойки.                    
    section.formQuestions
        .inner
            .formQuestions__left
                .formQuestions__title Остались вопросы?
                .formQuestions__desc Звоните или оставляйте заявку на сайте. Мы ответим на все интересующие вас вопросы!
            .formQuestions__right
                form.form-component.formQuestions__form(action="")
                    .form__field
                        input(type="text", name="" placeholder="Имя")
                    .form__field
                        input(type="tel", name="" placeholder="+7 (9__) ___ __ __")
                    .form__submit
                        button(type="submit") Оставить заявку
block scripts
    script(src="js/main.js")