extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Главная"

block content
    section.pageBanner
        .inner
            picture.pageBanner__bg
                //source(srcset="../img/projects/banner-2.webp" type="image/webp")
                img(src="../img/projects/banner-2.jpg", alt="Баннер")
            .pageBanner__content
                h1.pageBanner__title 7 из 14 моек самообслуживания в Пскове работают на оборудовании “Нерта”
                .pageBanner__desc В 2020 году в Пскове была запущена в эксплуатацию шестипостовая мойка, укомплектованная оборудованием “Nerta-SW”. 
            .breadcrumbs
                a(href='https://nerta-sw.ru') Главная
                a(href='/projects.html') Проекты
                span 7 из 14 моек самообслуживания в Пскове работают на оборудовании “Нерта”
    section.projects-detail
        .inner
            .review-block
                .review-block__title Отзыв заказчика
                .review-block__desc.
                    В 2020 году в Пскове была запущена в эксплуатацию шестипостовая мойка, укомплектованная оборудованием “Nerta-SW”. Все оборудование стабильно работает в условиях средней нагрузки на пост. Компания “Nerta-SW” осуществляет регламентное обслуживание, консультационную поддержку клиента, регулярные поставки шампуней, автохимии и фурнитуры.
            .projects-detail__text
                h2 Что сделали?
                p.
                    В 2020 году в Пскове была запущена в эксплуатацию шестипостовая мойка, укомплектованная оборудованием “Nerta-SW”. Все оборудование стабильно работает в условиях средней нагрузки на пост. Компания “Nerta-SW” осуществляет регламентное обслуживание, консультационную поддержку клиента, регулярные поставки шампуней, автохимии и фурнитуры. 
                ul
                    li. 
                        Укомплектовано 6 моечных постов. Установлены панели управления, насосы высокого давления, электродвигатели, компрессоры, системы дозирования химии;
                    li.
                        Автомойка оборудована в комплектации OPTIMA - самой популярной комплектации “Nerta-SW”. Большинство клиентов отдают ей предпочтение благодаря сбалансированному сочетанию цены и качества. Долговечные комплектующие из стран Евросоюза позволяют клиенту не волноваться о возможных простоях бизнеса. Оборудование работает максимально эффективно и безотказно.
                    li. 
                        Расход шампуня сокращен на 20% относительно аналогов за счет системы подачи пены под низким давлением. 
                    li.
                        Моечные посты комплектации OPTIMA также оснащены системой против замерзания ANTI FROST. Обо всех деталях пакета Вы можете прочитать здесь. 
                    li. 
                        К мойке подключены системы оплаты: наличная оплата, безналичная оплата и карты лояльности для клиентов;
                    li.
                        Благодаря встроенной системе мониторинга клиент экономит до 40% своего рабочего времени. Мойка работает практически автономно – система удаленного контроля за постами передает все данные о выручке, запасах расходных материалов и возможных ошибках на смартфон. Управлять бизнесом можно из любой точки мира.
            .projects-detail__text
                h2 Показатели мойки:
                .table
                    table
                        thead
                            tr
                                th(style="width: 33%") Время работы
                                th(style="width: 33%") Чистая прибыль за год
                                th(style="width: 33%") Средняя выручка в месяц
                        tbody
                            tr
                                td 1 год
                                td 2 миллиона рублей
                                td 700 тысяч рублей
            .projects-detail__text
                h2 Использованое в кейсе оборудование:
                .equip
                  .equip__title Комплектация оптима
                  .equip__desc Комплект моечного оборудования с лучшем соотношением цены-качества. Самая популярная комплектация.
                  .equip__more
                    a(href="#") Подробнее об оборудовании
            .projects-detail__nav
                a(href="#").nav-item
                    include ../../img/svg/ic_left.svg
                    span Предыдующий кейс                
                a(href="#").nav-item
                    span Следующий кейс
                    include ../../img/svg/ic_right.svg            
    section.formQuestions
        .inner
            .formQuestions__left
                .formQuestions__title Остались вопросы?
                .formQuestions__desc Звоните или оставляйте заявку на сайте. Мы ответим на все интересующие вас вопросы!
            .formQuestions__right
                form.form-component.formQuestions__form(action="")
                    .form__field
                        input(type="text", name="" placeholder="Имя")
                    .form__field
                        input(type="tel", name="" placeholder="+7 (9__) ___ __ __")
                    .form__submit
                        button(type="submit") Оставить заявку
block scripts
    script(src="js/main.js")