section.articles {
  padding: 36px 0 66px;

  .articles__head {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &Name {
      border: 1px solid #1254B5;
      border-radius: 8px;
      padding: 6px 20px;
      margin-right: auto;
      font-size: 16px;
      line-height: 25px;
      color: #1254B5;
      height: 39px;
    }

    &Sort {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      span {
        font-size: 16px;
        line-height: 25px;
        color: #000;
        font-weight: 700;
      }

      form{
        display: flex;
        flex-wrap: wrap;
      }

      select{
        border: 1px solid #848484;
        border-radius: 8px;
        background: #fff;
        font-size: 16px;
        line-height: 156%;
        color: #848484;
        padding: 6px 10px 7.5px;
        height: 39px;
        min-width: 149px;
        margin-left: 12px;
      }

    }
  }

  .articles__items {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 600px){
      margin: 0 -23px;
    }

  }

  .articles__item {
    width: 100%;
    margin-bottom: 46px;

    .image{
      position: relative;
      padding-top: 62%;
      margin-bottom: 16px;
      img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .name{
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 18px;
      color: #000;
      font-family: ubuntu-bold;
    }

    .date{
      font-size: 15px;
      line-height: 20px;
      font-weight: 300;
      color: #242B30;
      font-family: ubuntu-light;
    }

    @media screen and (min-width: 600px){
      width: calc(50% - 46px);
      margin: 0 23px;
      margin-bottom: 46px;
    }


    @media screen and (min-width: 830px){
      width: calc(33.33% - 46px);
    }


  }

}