block variables
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		meta(name="theme-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
		link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
		link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
		link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
		link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
		link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
		link(rel="stylesheet" href="styles/main.css")
	body.nerta
		.wrapper
			header.header
				.header__container
					a.header__logo(href='/')
						img(src='https://nerta-sw.ru/wp-content/themes/nerta/img/logo.png' alt='logo' title='логотип')
					script(data-b24-form='click/4/zy99qe' data-skip-moving='true' data-b24-loaded='true').
						(function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0); var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h); })(window,document,'https://cdn-ru.bitrix24.ru/b17852604/crm/form/loader_4.js');
					span.header__callback Обратный звонок
					a.header__email(href='mailto:info@nerta-sw.ru') info@nerta-sw.ru
					a.header__phone(href='tel:84956777000') 8 (495) 6-777-000
					a.header__phone(href='tel:88005552593') 8 (800) 555-25-93
					button#header-menu.header__menu
						img(src='https://nerta-sw.ru/wp-content/themes/nerta/img/menu.svg')
						img(src='https://nerta-sw.ru/wp-content/themes/nerta/img/close.svg')
			nav.nav
				.nav__container
					.nav__block
						a(href='https://nerta-sw.ru/oborudovanie_dlya-moek_samoobsluzhivaniya/') Оборудование
						.nav__block__pod
							a(href='https://nerta-sw.ru/oborudovanie_dlya-moek_samoobsluzhivaniya/pilesosi-dlya-mojki-samoobsluzhivaniya/') Пылесосы для мойки самообслуживания
					.nav__block
						a(href='https://nerta-sw.ru/mojka-samoobsluzhivaniya-pod-klyuch/') Мойка самообслуживания под ключ
						.nav__block__pod
					.nav__block
						a(href='https://nerta-sw.ru/uslugi/') Услуги
						.nav__block__pod
							a(href='https://nerta-sw.ru/avtomoika-v-lizing-pod-kluch/') Автомойка в лизинг
							a(href='https://nerta-sw.ru/franshiza-mojka-samoobsluzhivaniya/') Франшиза мойки самообслуживания
							a(href='https://nerta-sw.ru/gotovii-biznes/') Продажа автомоек самообслуживания
					.nav__block
						a(href='https://nerta-sw.ru/o-kompanii/') О компании
						.nav__block__pod
					.nav__block
						a(href='https://nerta-sw.ru/kontakty/') Контакты
						.nav__block__pod
			section#menu.menu
				.menu__container
					.menu__list
						.nav__block
							a(href='https://nerta-sw.ru/oborudovanie_dlya-moek_samoobsluzhivaniya/') Оборудование
							.nav__block__pod
								a(href='https://nerta-sw.ru/oborudovanie_dlya-moek_samoobsluzhivaniya/pilesosi-dlya-mojki-samoobsluzhivaniya/') Пылесосы для мойки самообслуживания
						.nav__block
							a(href='https://nerta-sw.ru/mojka-samoobsluzhivaniya-pod-klyuch/') Мойка самообслуживания под ключ
							.nav__block__pod
						.nav__block
							a(href='https://nerta-sw.ru/uslugi/') Услуги
							.nav__block__pod
								a(href='https://nerta-sw.ru/avtomoika-v-lizing-pod-kluch/') Автомойка в лизинг
								a(href='https://nerta-sw.ru/franshiza-mojka-samoobsluzhivaniya/') Франшиза мойки самообслуживания
								a(href='https://nerta-sw.ru/gotovii-biznes/') Продажа автомоек самообслуживания
						.nav__block
							a(href='https://nerta-sw.ru/o-kompanii/') О компании
							.nav__block__pod
						.nav__block
							a(href='https://nerta-sw.ru/kontakty/') Контакты
							.nav__block__pod
					a.menu__email(href='mailto:info@nerta-sw.ru') info@nerta-sw.ru
					span.menu__callback.js-callback-popup-show Обратный звонок
					a.menu__phone(href='tel:84956777000') 8 (495) 6-777-000
					a.menu__phone(href='tel:88005552593') 8 (800) 555-25-93
					a.menu__logo(href='/')
						img(src='https://nerta-sw.ru/wp-content/themes/nerta/img/logo.png')
			#nerta-main-page
				block content
			footer.new-footer
				.inner
					.new-footer__item.new-footer__logo
							img(src="https://nerta-sw.ru/wp-content/themes/nerta/img/logo.png" loading="lazy" alt="logo" title="логотип")
					.new-footer__item.new-footer__contacts
						.item.mail
							a(href="#") info@nerta-sw.ru
						.item.phone
							a(href="#") 8 (800) 555-25-93
						.item.phone
							a(href="#") +7 (495) 6-777-000
						.item.recall
							a(href="#") Перезвоните мне
					.new-footer__item.new-footer__services
						ul
							li: a(href="") Услуги
							ul.submenu
								li: a(href="") Автомойка под ключ
								li: a(href="") Автомойка в лизинг
								li: a(href="") Франшиза мойки самообслуживания
								li: a(href="") Продажа автомоек самообслуживания
					.new-footer__item.new-footer__pages
						ul
								li: a(href="") Оборудование
								li: a(href="") мойка самообслуживания под ключ
								li: a(href="") Статьи
								li: a(href="") О Компании
								li: a(href="") Контакты
					.new-footer__item.new-footer__onmap
						p 109316,г. Москва,<br> Остаповский проезд, 3 стр. 5 
						a(href="#") На карте
					.new-footer__item.new-footer__copyright
						p © Nerta Selfwash, 2001–2022
					.new-footer__item.new-footer__policy
						a(href="#") Политика конфиденциальности
					a(href="#").new-footer__item.new-footer__scrollTop
						svg(width='28' height='17' viewBox='0 0 28 17' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M3.96246 16.5684L14.0004 6.55227L24.0384 16.5684L27.1219 13.4848L14.0004 0.363281L0.878906 13.4848L3.96246 16.5684Z' fill='#F8F8F8')
		block scripts